:root {
  --background: black;
  --delete: #cf6679;
  --archive: #f39c12;
  --on-background: #ffffff;
  --on-background-grey: #c7c7c7;
}

[data-theme="light"] {
  --background: #dddddd;
  --on-background: #333333;
  --on-background-grey: #6d6d6d;
  --on-surface: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background 0.3s ease-in;
}

a {
  color: var(--on-backgrounds);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--on-background);
}

input {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: var(--on-background);
  border: 1px solid var(--on-background-grey);
  border-radius: 4px;
}

input::placeholder {
  color: var(--on-background-grey);
  font-weight: bold;
}

.note-app__header {
  display: flex;
  padding: 1.5em 2em;
  border-bottom: 1.5px solid var(--on-background-grey);
  background-color: var(--background);
}

.note-app__header h1 {
  flex: 1;
}

.note-app__header .header-toggle {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.5em;
}

.note-app__header .header-toggle button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: var(--on-background);
  cursor: pointer;
}

.note-app__header .header-toggle .toggle-lang {
  font-size: 2.5em;
}

.note-app__header .header-toggle .toggle-theme {
  font-size: 2em;
}

.note-app__header .header-toggle button:hover {
  color: var(--on-background-grey);
}

.note-app__header-child {
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  border-bottom: 1px solid var(--on-background-grey);
  padding: 0.5em 2em;
}

.note-app__header-child ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.note-app__header-child li {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.note-app__header-child li a {
  display: flex;
}

.note-app__header-child button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: var(--on-background);
  cursor: pointer;
}

.note-app__header-child button:hover,
.note-app__header-child li a:hover {
  color: var(--on-background-grey);
}

.note-app__header-child .toggle-lang {
  font-size: 1.5em;
}

.note-app__header-child .toggle-theme {
  font-size: 1em;
}

.note-app__header-child .button-logout {
  font-size: 0.8em;
}

.note-app__body {
  margin-inline: 2em;
  padding: 12px;
}

.note-app__body-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.note-loading {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.note-login-register {
  margin: 0 auto;
  max-width: 900px;
  margin-block: 1em 2em;
}

.note-login-register form {
  display: flex;
  flex-direction: column;
  margin-block: 2em;
}

.note-login-register input {
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.8em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
}
.note-login-register button {
  border: 0;
  border-radius: 5px;
  padding-block: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  color: var(--background);
  background-color: var(--on-background);
}

.note-input {
  margin: 0 auto;
  max-width: 900px;
  margin-block: 1em 2em;
}

.note-input__title {
  display: block;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 18px;
  text-align: right;
  color: var(--on-background-grey);
}

.note-input__body {
  min-height: 250px;
  font-size: 18px;
  border: 1px solid var(--on-background-grey);
  font-family: "Inter", sans-serif;
  padding: 8px;
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: var(--on-background-grey);
}

.note-input button {
  display: flex;
  font-size: 4.5em;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  color: var(--on-background);

  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
}

.note-input button:hover {
  color: var(--on-background-grey);
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-block: 0.5em 3em;
}

.notes-list__empty-message {
  text-align: center;
  color: var(--on-background-grey);
}

.note-item {
  border: 1px solid var(--on-background-grey);
  border-top: 6px solid;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__title a:hover {
  color: var(--on-background-grey);
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--on-background-grey);
}

.note-item__body {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.note-item__action {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  padding-inline: 12px;
  padding-bottom: 12px;
}

.note-item__action .note-button__delete,
.note-item__action .note-button__archive {
  display: flex;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.2em;
  color: var(--on-background);
}

.note-item__action .note-button__archive:hover {
  color: var(--archive);
}

.note-item__action .note-button__delete:hover {
  color: var(--delete);
}

.note-button__add {
  font-size: 4.5em;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: 0;

  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
}

.note-button__add a {
  color: var(--on-background);
}

.note-button__add a:hover {
  color: var(--on-background-grey);
}

.note-detail {
  padding: 1em 3em;
}

.note-detail h1 {
  font-size: 3em;
}

.note-detail__date {
  color: var(--on-background-grey);
}

.note-detail__body {
  font-size: 18px;
  margin-top: 2em;
}

.note-detail__action {
  display: flex;
  gap: 1em;
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.note-detail__action .note-button__archive,
.note-detail__action .note-button__delete {
  display: flex;
  font-size: 4em;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--on-background);
}

.note-detail__action .note-button__archive:hover {
  color: var(--archive);
}

.note-detail__action .note-button__delete:hover {
  color: var(--delete);
}

.note-app__not-found {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.note-app__not-found h1 {
  font-size: 4em;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
